@font-face {
    font-family: myFonts;
     src: url(introrustg-base2line.otf);
 }

body{
    background-color: #1C3885;}

div{
    position: relative;
}

h1{
    position: relative;
    color: #0A85D6;
    font-size: 450%;
    font-family: myFonts;
    width: 50%;
    margin-left: 28%;
    margin-right: 25%;
}

.pics {
    background-color: white;
    height: 15vh;
    width: 8vw;
    margin: 5%;
    margin-top: 5%;
    display: none;
}

button {
    background-color: Transparent;
    border-color: Transparent;
    height: 15vh;
    width: 8vw;
    margin: 5%;
    margin-top: 5%;
   
}

.btn {
    height: 15vh;
    width: 8vw;
    margin: 5%;
    margin-top: 5%;
    display: inline;
}

