@font-face {
    font-family: myFonts;
     src: url(introrustg-base2line.otf);
 }

body{
    background-color: #1C3885;}

div{
    position: relative;
}

h1{
    position: relative;
    color: #0A85D6;
    font-size: 450%;
    font-family: myFonts;
    width: 50%;
    margin-left: 28%;
    margin-right: 25%;
}

.pics {
    background-color: white;
    margin: 5%;
    margin-top: 1%;
    width: 10%;
    height: 20%;
    display: none;
}
/*
#screen0 {
    background-color: white;
    margin: 5%;

    margin-top: 1%;
    width: 10%;
    height: 20%;
    display: none;
}

#screen1 {
    background-color: white;

    margin: 5%;
    margin-top: 1%;

    width: 10%;
    height: 20%;
    display: none;
}

#screen2 {
    background-color: white;

    margin: 5%;
    margin-top: 1%;

    width: 10%;
    height: 20%;
    display: none;
}

#screen3 {
    background-color: white;

    margin: 5%;
    margin-top: 1%;

    width: 10%;
    height: 20%;
    display: none;
}

#screen4 {
    background-color: white;
    margin: 5%;
    margin-top: 17%;
    width: 10%;
    height: 20%;
    display: none;
}

#screen5 {
    background-color: white;
    margin: 5%;
    margin-top: 17%;
    width: 10%;
    height: 20%;
    display: none;
}

#screen6 {
    background-color: white;
    margin: 5%;
    margin-top: 17%;
    width: 10%;
    height: 20%;
    display: none;
}

#screen7 {
    background-color: white;
    margin: 5%;
    margin-top: 17%;
    width: 10%;
    height: 20%;
    display: none;
}

button {
    background-color: white;
    height: 10%;
    margin: 5%;
    margin-top: 1%;
    width: 10%;
}
*/
#btn0 {
    margin: 5%;
    margin-top: 1%;
    width: 10%;
    height: 20%;
    display: inline;
}

#btn1 {
    margin: 5%;
    margin-top: 1%;
    width: 10%;
    height: 20%;
    display: inline;
}

#btn2 {
    margin: 5%;
    margin-top: 1%;
    width: 10%;
    height: 20%;
    display: inline;
}

#btn3 {
    margin: 5%;
    margin-top: 1%;
    width: 10%;
    height: 20%;
    display: inline;
}

#btn4 {
    margin: 5%;
    margin-top: 17%;
    width: 10%;
    height: 20%;
    display: inline;
}

#btn5 {
    margin: 5%;
    margin-top: 17%;
    width: 10%;
    height: 20%;
    display: inline;
}

#btn6 {
    margin: 5%;
    margin-top: 17%;
    width: 10%;
    height: 20%;
    display: inline;
}

#btn7 {
    margin: 5%;
    margin-top: 17%;
    width: 10%;
    height: 20%;
    display: inline;
}

